<div class="filter-mobile">
    <div class="filter-mobile-header d-flex justify-content-between d-bg-none">
        <a class="filter-mobile-back" href=""><i class="icon-arrow-left"></i></a>
        <span>Filter</span>
        <a class="filter-mobile-reset" href="">Reset All</a>
    </div>
    <div class="filter-mobile-content">
        <div class="siderbar-box  px-3">
            <h3 class="siderbar-box-title">
                Loại công việc
            </h3>
            <div class="siderbar-box-content">
                <div class="custom-control custom-radio d-flex justify-content-between align-items-top pl-0">
                    <p class="mb-0">
                        Fulltime
                    </p>
                    <input type="radio" name="customRadio" class="custom-control-input" id="Fulltime">
                    <label class="custom-control-label" for="Fulltime"></label>
                </div>
                <div class="custom-control custom-radio d-flex justify-content-between align-items-top pl-0">
                    <p class="mb-0">
                        Freelance
                    </p>
                    <input type="radio" name="customRadio" class="custom-control-input" id="Freelance">
                    <label class="custom-control-label" for="Freelance"></label>
                </div>
            </div>
        </div>
        <!-- end  siderbar box -->
        <!-- start siderbar box -->
        <div class="siderbar-box  px-3">
            <h3 class="siderbar-box-title">
                Mức lương/ Ngân sách
            </h3>
            <div class="siderbar-box-content">
               
                <!-- With number fields -->
                <div class="filter level-filter level-req">
                    <div id="rangeSlider" class="range-slider">
                        <div class="number-group d-flex justify-content-between align-items-center align-items-stretch">
                            <input class="number-input w-100" type="number" value="10000000" min="0" max="30000000" />
                            <span> - </span>
                            <input class="number-input w-100" type="number" value="2000000" min="0" max="30000000" /></span>
                            <div class="select-currency w-100">
                                <select class="custom-select">
                                    <option value="1" selected>VND</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <!-- end currency -->
                        </div>
                        <div class="range-group">
                            <input class="range-input" value="10000000" min="1" max="30000000" step="1" type="range" />
                            <input class="range-input" value="2000000" min="1" max="30000000" step="1" type="range" />
                        </div>
                    </div>
                    
                </div>
                <!-- // filter level-filter -->
            </div>
        </div>
        <!-- end  siderbar box -->
        <!-- start siderbar box -->
        <div class="siderbar-box  px-3">
            <h3 class="siderbar-box-title">
                Danh mục
            </h3>
            <div class="siderbar-box-content">
                <div class="filter-option">
                    <div class="filter-option-header">
                        <h6>Lập trình</h6>
                    </div>
                    <div class="filter-option-bg">
                        <div class="filter-option-content">
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Php
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="php">
                                <label class="custom-control-label" for="php"></label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Html/css
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="Html">
                                <label class="custom-control-label" for="Html"></label>
                            </div>
                        
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Wordpress
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="Wordpress">
                                <label class="custom-control-label" for="Wordpress"></label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Magento
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="Magento">
                                <label class="custom-control-label" for="Magento"></label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Joomla
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="Joomla">
                                <label class="custom-control-label" for="Joomla"></label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    OpenCart
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="OpenCart">
                                <label class="custom-control-label" for="OpenCart"></label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Ios
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="Ios">
                                <label class="custom-control-label" for="Ios"></label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Thiết kế
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input">
                                <label class="custom-control-label" for="des"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end  filter option -->
                <div class="filter-option">
                    <div class="filter-option-header">
                        <h6>Thiết kế</h6>
                    </div>
                    <div class="filter-option-bg">
                        <div class="filter-option-content">
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Thiết kế option 1
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="php">
                                <label class="custom-control-label" for="php"></label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Thiết kế option 2
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="Html">
                                <label class="custom-control-label" for="Html"></label>
                            </div>
                        
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Thiết kế option 3
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="Wordpress">
                                <label class="custom-control-label" for="Wordpress"></label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex justify-content-between align-items-top pl-0">
                                <p class="mb-0">
                                    Thiết kế option 4
                                </p>
                                <input type="checkbox" name="customCheckbox" class="custom-control-input" id="Magento">
                                <label class="custom-control-label" for="Magento"></label>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- end  filter option -->
            </div>
        </div>
        <!-- end  siderbar box -->
        <div class="filter-mobile-option-bg">
            <button class="filter-mobile-btn-apply btn btn-primary w-100 text-uppercase p-3">APPLY</button>
        </div>
    </div>
</div>