<div class="media media-post bg-white">
    <div class="media-post-img align-self-center">
        <a href="">
            <img src="http://via.placeholder.com/113x113" alt="Generic placeholder image">
        </a>
    </div>

    <div class="media-body media-post-body">
        <h5 class="mt-0 text-uppercase">
            <a href="">4 Mobile App Developers (iOS / Android)</a>
        </h5>
        <div class="media-post-meta">
            <div class="media-post-meta-item media-post-user">
                <a href="">
                    <i class="icon-user"></i>
                    Traveloka Company
                </a>
            </div>
            <div class="media-post-meta-item media-post-clock">
                <i class="icon-clock"></i>
                1 hour ago
            </div>
            <div class="media-post-meta-item media-post-address">
                <i class="icon-pin"></i>
                Hồ Chí Minh
            </div>
        </div>
        <div class="media-post-currency">
            <i class="icon-dollar"></i>
            $300 - $500
        </div>
        <p>Shiportal is developing a suite of native mobile applications on Android and iOS for real-estate industry spanning
            across South-east Asia We aim to revolutionize the way real estate agents…</p>
        <div class="media-post-tag">
            <a class="btn btn-outline-primary" href="">brand</a>
            <a class="btn btn-outline-primary" href="">2D</a>
            <a class="btn btn-outline-primary" href="">3D</a>
        </div>
    </div>
</div>