<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="banner-header text-center">
                    <h2 class="text-uppercase">Hire Freelancers & Get Jobs Online</h2>
                    <span>You’re Different, But Are You better?</span>
                </div>
                <!-- end banner header -->
                <div class="banner-search">
                    <!-- start form search -->
                    <form class="form-search d-none d-lg-block" autocomplete="off" action="">
                        <div class="input-group input-group-lg ">
                            <div class="autocomplete custom-file">
                                <div class="input-group-prepend">
                                    <button class="button-search btn btn-white border-0" type="button">
                                        <i class="icon-search"></i>
                                    </button>
                                </div>
                                <input id="input-search" type="text" class="form-control pl-0 rounded-0 border-0" placeholder="Nhập Job title hoặc keyword…">
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-white dropdown-toggle border-right-0 rounded-0 pr-4 " type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="icon-pin"></i>
                                    <span>Hồ Chí Minh</span>
                                </button>
                                <div class="dropdown-menu mt-0">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here got</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                                <button class="btn btn-dark px-5" id="button-search-left" type="button">Search</button>
                            </div>
                        </div>
                    </form>
                    <!-- end  form search -->
                    <!-- start form search mobile -->
                    <form class="form-search-mobile d-block d-lg-none" autocomplete="off" action="">
                        <div class="input-group autocomplete mb-3">
                            <div class="input-group-prepend">
                                <button class="button-search btn btn-white border-0" type="button">
                                    <i class="icon-search"></i>
                                </button>
                            </div>
                            <input id="input-search-mobile" type="search" class="form-control search-input border-0" placeholder="Nhập Job title hoặc keyword…" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group-append mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text btn-white button-pin border-right-0" for="inputGroupSelect01">
                                    <i class="icon-pin"></i>
                                </label>
                            </div>
                            <button class="btn btn-white dropdown-toggle pr-4 w-100 text-left border-left-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <span>Chọn địa điểm</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here got</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                        <button class="btn btn-dark w-100 search-btn" type="button">
                            <i class="icon-search"></i> Search</button>
                    </form>
                    <!-- end  form search mobile -->
                </div>
                <!-- end banner search -->
                <!--#include virtual="../pages/home/banner-search-key.html" -->
                <!-- end  search key -->
            </div>
        </div>
    </div>
</div>