<!--Javascript Library -->
<script src="../../../public/vendor/jquery/jquery-3.3.1.min.js"></script>
<!-- getbootstrap -->
<script src="../../../public/vendor/bootstrap/popper.min.js"></script>
<script src="../../../public/vendor/bootstrap/bootstrap.min.js"></script>
<script src="../../../public/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="../../../public/vendor/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>


<script src="../../../public/assets/js/main.js"></script>