<footer id="footer" class="wrapper-footer footer">
    <div class="container">
        <div class="row">
            <div class="col-6 mb-3 mb-lg-0 col-lg-3">
                <!-- start  menu footer -->
                <ul class="footer-menu list-unstyled light">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">All Jobs</a>
                    </li>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Operating Regulation</a>
                    </li>   
                </ul>
                <!-- end  menu footer -->
            </div>
            <div class="col-6 mb-3 mb-lg-0 col-lg-3">
                <!-- start  menu footer -->
                <ul class="footer-menu list-unstyled light">
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Term & Conditions</a>
                    </li>
                    <li>
                        <a href="">Complaint Handling Policy</a>
                    </li>
                </ul>
                <!-- end  menu footer -->
            </div>
            <div class="col-6 mb-3 mb-lg-0 col-lg-4">
                <ul class="footer-address list-unstyled light">
                    <li>
                        <strong class="bold">Address:</strong> 60 Nguyen Van Thu, Dakao Ward, District 1,HCMC, Vietnam
                    </li>
                    <li>
                        <strong class="bold">Tax Code:</strong> 
                        <a href="tel:038327262">038327262</a>
                    </li>
                    <li>
                        <strong class="bold">Phone:</strong> 
                        <a href="tel:02746463632">02746463632</a>
                    </li>
                    <li>
                        <strong class="bold">Email:</strong>
                        <a href="mailto:support@devdes.vn">support@devdes.vn</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 mb-3 mb-lg-0 col-lg-2">
                <div class="logo-ct mb-4">
                    <img src="../../../public/assets/images/logo/tbbct.png" alt="">
                </div>
                <div class="footer-social d-flex flex-lg-row-reverse">
                    <a href="">
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="">
                        <i class="icon-google"></i>
                    </a>
                    <a href="">
                        <i class="icon-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>