<header id="header" class="wrapper-header header">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- start header mobile menu -->
        <div class="header-mobile-menu d-inline-block d-lg-none">
            <div class="header-mobile-menu-icon">
                <i class="icon-menu"></i>
            </div>
        </div>
        <!-- end header mobile menu -->
        <!-- start header logo -->
        <div class="header-logo">
            <a href="../pages/home/home.html">
                <i class="icon-logo"></i>
            </a>
        </div>
        <!-- end header logo -->
        <div class="header-right d-lg-flex justify-content-end d-none">
            <a class="mx-4" href="">All Jobs</a>
            <a class="mx-4" href="">Freelancer</a>
            <a class="btn-post-job btn btn-outline-light link-job text-center" href="">Post A Job</a>
            <div class="header-lang mx-2">
                <div class="can-toggle demo-rebrand-2">
                    <input id="e" type="checkbox">
                    <label for="e">
                        <div class="can-toggle__switch" data-checked="En" data-unchecked="Vn"></div>
                    </label>
                </div>
            </div>
            <!-- start header-notifi -->
            <div class="header-notification btn-group mx-2 btn-group">
                <div class="header-notification-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-alarm"></i>
                </div>
                <div class="dropdown-menu dropdown-menu-right header-notification-group">
                    <div class="header-notification-group-title">
                        <h3>Thông báo</h3>
                    </div>
                    <!-- end  title -->
                    <div class="header-notification-list pb-3">
                        <!--#include virtual="../template-part/header-notification-item.html" -->
                        <!--#include virtual="../template-part/header-notification-item.html" -->
                        <!--#include virtual="../template-part/header-notification-item.html" -->
                        <!--#include virtual="../template-part/header-notification-item.html" -->
                        <!--#include virtual="../template-part/header-notification-item.html" -->
                        <!--#include virtual="../template-part/header-notification-item.html" -->
                        <!--#include virtual="../template-part/header-notification-item.html" -->
                        <!--#include virtual="../template-part/header-notification-item.html" -->
                    </div>
                </div>
            </div>
            <!-- end header-notifi -->
            <!-- start login -->
            <div class="header-login ml-2">
                <div class="header-login-icon">
                    <a class="" href="">Đăng nhập</a>
                    |
                    <a class="" href="">Đăng ký</a>
                </div>
            </div>
            <!-- end header-login -->
        </div>
        <!-- end  header right -->
        <!-- start header login mobile -->
        <div class="header-login-mobile d-inline-block d-lg-none">
            <div class="header-login-mobile-icon">
                <i class="icon-user"></i>
            </div>
        </div>
        <!-- end header login mobile -->
    </div>
</header>