<header id="header" class="wrapper-header header">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- start header mobile menu -->
        <div class="header-mobile-menu d-inline-block d-lg-none">
            <div class="header-mobile-menu-icon" id="showLeftPush">
                <i class="icon-menu"></i>
            </div>
        </div>
        <!-- end header mobile menu -->
        <!-- start header logo -->
        <div class="header-logo">
            <a href="../pages/home/home.html">
                <i class="icon-logo"></i>
            </a>
        </div>
        <!-- end header logo -->
        <div class="header-right d-lg-flex justify-content-end d-none">
            <a class="mx-4" href="">All Jobs</a>
            <a class="mx-4" href="">Freelancer</a>
            <div class="header-lang mx-2">
                <div class="can-toggle demo-rebrand-2">
                    <input id="e" type="checkbox">
                    <label for="e">
                        <div class="can-toggle__switch" data-checked="En" data-unchecked="Vn"></div>
                    </label>
                </div>
            </div>
            <!-- start header-notifi -->
            <div class="header-notification mx-2">
                <div class="header-notification-icon">
                    <i class="icon-alarm"></i>
                </div>
            </div>
            <!-- end header-notifi -->
            <!-- start login -->
            <div class="header-login ml-2">
                <div class="header-login-icon ">
                    <span class="name">Adelaide Tate</span>
                    <img class="avata" src="http://via.placeholder.com/55x55" alt="">
                </div>
                <!-- start login group -->
                <div class="header-login-group bg-white">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="">
                                <span class="icon">
                                    <i class="icon-user"></i>
                                </span>
                                <span class="link">Thông tin cá nhân</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon">
                                    <i class="icon-edit"></i>
                                </span>
                                <span class="link">Cập nhật thông tin</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon">
                                    <i class="icon-jobs"></i>
                                </span>
                                <span class="link">Đăng việc làm</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon">
                                    <i class="icon-manager"></i>
                                </span>
                                <span class="link">Quản lý việc làm</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon">
                                    <i class="icon-wallet"></i>
                                </span>
                                <span class="link">Credit</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon">
                                    <i class="icon-logout"></i>
                                </span>
                                <span class="link">Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end login group -->
            </div>
            <!-- end header-login -->
        </div>
        <!-- end  header right -->
        <!-- start header login mobile -->
        <div class="header-login-mobile d-inline-block d-lg-none">
            <div class="header-login-mobile-icon">
                <i class="icon-user"></i>
            </div>
        </div>
        <!-- end header login mobile -->
    </div>
</header>