<div class="header-mobile-menu-group">
    <div class="header-mobile-menu-top text-center" style="background-image: url('http://via.placeholder.com/250x250')">
        <div class="avata mb-2">
            <img src="http://via.placeholder.com/48x48" alt="">
        </div>
        <div class="title">
            Adelaide Tate
        </div>
    </div>
    <!-- end header-mobile-menu-top -->
    <div class="header-mobile-menu-list py-3">
        <ul class="list-unstyled mb-0">
            <li>
                <a href="">
                    <span class="icon">
                        <i class="icon-user"></i>
                    </span>
                    <span class="link">Thông tin cá nhân</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon">
                        <i class="icon-edit"></i>
                    </span>
                    <span class="link">Cập nhật thông tin</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon">
                        <i class="icon-jobs"></i>
                    </span>
                    <span class="link">Đăng việc làm</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon">
                        <i class="icon-manager"></i>
                    </span>
                    <span class="link">Quản lý việc làm</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon">
                        <i class="icon-wallet"></i>
                    </span>
                    <span class="link">Credit</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon">
                        <i class="icon-logout"></i>
                    </span>
                    <span class="link">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end header-mobile-menu-list -->
    <div class="header-mobile-menu-bottom">
        <div class="can-toggle demo-rebrand-2">
            <input id="ee" type="checkbox">
            <label for="ee">
                <div class="can-toggle__switch" data-checked="En" data-unchecked="Vn"></div>
            </label>
        </div>
    </div>
    <!-- end header-mobile-menu-bottom -->
</div>