
<div class="header-notification-mobile">
    <div class="header-notification-mobile-title text-center">
        <a class="btn-back pull-left" href="javascript:void(0)"><i class="icon-arrow-left"></i></a> 
        <h3>Thông báo</h3>
    </div>
    <!-- end  title -->
    <div class="header-notification-list pb-3">
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
        <!--#include virtual="../template-part/header-notification-item.html" -->
    </div>
</div>