<div class="banner-search-key row">
    <div class="mx-auto text-uppercase text-center">
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">JAVA</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">HTML/CSS</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">React Native</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">ruby</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">UI/UX</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">2D</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">3D</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">brochure</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">LOGO</a>
        <a class="btn btn-outline-light d-inline-block align-middle mx-md-1 mb-2 mb-md-3 px-3 px-md-4" href="">DEVELOPER</a>
    </div>
</div>
<!-- end  search key -->