
<div class="page-header text-center">
    <div class="page-header-top"></div>
    <div class="container">
        <div class="col-md-8 m-auto">
            <h2 class="page-header-title">
                Millions of Jobs Hiring Near You
            </h2>
            <p class="page-header-description mb-0">
                There's no need to look anywhere else. With over 8 million jobs, DevDes is the only site you'll ever need to find your next
                job.
            </p>
        </div>
    </div>
</div>