<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Devdes title</title>
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <meta name="author" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!--#include virtual="../../layout/header-link.html" -->
    <link rel="stylesheet" href="../../../public/vendor/slick/slick.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Modernizr js -->
    <script src="../../../public/vendor/modernizr/modernizr.custom.js"></script>
</head>

<body>
    <!--#include virtual="../../layout/menu-mobile.html" -->
    <div id="main" class="main">
        <!--#include virtual="../../layout/notification-mobile.html" -->
        <!--#include virtual="../../layout/header-login.html" -->
        <div class="page page-home">
            <!--#include virtual="../../layout/banner.html" -->
            <!--#include virtual="header-home.html" -->
            <div class="home-slider">
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-traveloka.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-aeon.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-pruential.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-samsung.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-traveloka.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-aeon.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-pruential.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-samsung.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-traveloka.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-aeon.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-pruential.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="item position-relative">
                    <div class="item-content bg-white">
                        <a class="number-job d-inline-block" href="">14 jobs</a>
                        <div class="img d-block">
                            <img class="m-auto" src="../../../public/assets/images/upload/logo-samsung.png" alt="">
                        </div>
                        <div class="discription text-center">
                            <h5 class="discription-title l-spacing-03 bold text-uppercase">
                                traveloka
                            </h5>
                            <p class="discription-address l-spacing-023">Hà Nội</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#include virtual="../../layout/footer.html" -->
        <!--#include virtual="../../layout/footer-bottom.html" -->
    </div>
    <!--#include virtual="../../layout/footer-link.html" -->
    <script src="../../../public/vendor/slick/slick.min.js"></script>
    <script src="home.js"></script>
</body>

</html>