{{ test }}
<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular 2</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <app-article [newArticles] = "newArticles"></app-article>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a
              *ngFor = "let tag of listTags"
              class = "tag-default tag-pill"
              (click) = "handleListByTags(tag)"
            >
              {{ tag }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [hidden]="tagsLoaded" class="wrap_loader">
  <div class="overplay"></div>
  <div class="loader"></div>
</div>