.wrap_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9999;
}
.tag-default {
  cursor: pointer;
}
.overplay {
  position: fixed;
  background: #000;
  opacity: .7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}