<div class="modal fade modal-success" id="sigup-social-success" tabindex="-1" role="dialog" aria-labelledby="sigup-successTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-title text-center">
                <h5>THÀNH CÔNG</h5>
                <button type="button" class="close d-block d-lg-none" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="modal-body text-center pt-lg-4">
                <p>
                 Bạn đã đăng ký tài khoản thành công, hãy chọn thể loại user để tiếp tục
                </p>
                <div class="modal-action d-flex justify-content-around">
                    <div class="modal-action-item">
                        <a href="">
                            <div class="modal-action-icon">
                                <i class="icon-recruiter"></i>
                            </div>
                            <h4 class="modal-action-title">NHÀ TUYỂN DỤNG</h4>
                        </a>
                    </div>
                    <!-- end modal action item -->
                    <div class="modal-action-item">
                        <a href="">
                            <div class="modal-action-icon">
                                <i class="icon-candidate"></i>
                            </div>
                            <h4 class="modal-action-title">ỨNG VIÊN</h4>
                        </a>
                    </div>
                    <!-- end modal action item -->
                </div>
                <button class="btn btn-primary p-2 p-lg-3 text-uppercase">Hoàn tất</button>
            </div>
        </div>
    </div>
</div>