<div class="modal fade modal-success" id="sigup-success" tabindex="-1" role="dialog" aria-labelledby="sigup-successTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-title text-center">
                <h5>THÀNH CÔNG</h5>
                <button type="button" class="close d-block d-lg-none" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="icon">
                    <i class="icon-noti-success"></i>
                </div>
                <p>
                    Bạn đã tạo tài khoản thành công. Kích hoạt ngay qua thư xác nhận đã được gửi vào hộp thư của bạn.
                </p>
                <button class="btn btn-primary p-2 p-lg-3">ĐĂNG NHẬP</button>
            </div>
        </div>
    </div>
</div>